.hn {
    &__weather-day {
        &--item {
            border: 1px solid #d7d7d7;
            padding: 10px;
            width: 65%;
            margin: auto;
            border-radius: 6px;

            &-active {
                background-color: #d7d7d7;
            }
        }
    }
}
.fs {
    @for $f from 1 through 100 {
        &--#{$f}px {
            font-size: #{$f}px !important;
        }
    }
}

.box--shadow {
    -webkit-box-shadow: 1px 1px 9px -4px #000000;
    box-shadow: 1px 1px 9px -4px #000000;
}
